#banner
  .banner_content
    = image_tag "pencil.png"
    %h1 Take Notes
    %p Your online notebook. Never forget an idea again.
    %button.button= link_to "Sign Up", new_user_registration_path

#mid-content
  .wrapper
    %p.quote The simplest notebook application on the web. So easy to use - it's the best way to keep all your notes and ideas organized and it's free!

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Simple
        %p Easy, minimal and clean way to organize all your notes in one place
      .callout
        %i.fa.fa-bookmark
        %h2 Organized
        %p Organize your notes into categories and search them instantly by tags
      .callout
        %i.fa.fa-check
        %h2 Effortless
        %p Stay productive and track all of your ideas and notes in a timely and useful manner
#bottom_cta
  .wrapper
    .cta-content
      %h2 The best note-taking app!
      %p Sign up now to take notes, brainstorm ideas, create checklists, and organize them into categories!
      %button.button= link_to "Get Started", new_user_registration_path

%footer
  %p &copy; Julie Park 2017
