#banner
  .banner_content
    %h1 Take Notes
    %p Your online notebook. Never forget an idea again.
    %button.button= link_to "Sign Up", new_user_registration_path

#mid-content
  .wrapper
    %p.quote "The most simple notebook application ever! So easy to use - it's the best."
    %p.name - Harvey

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .callout
        %i.fa.fa-rocket
        %h2 Notes
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .callout
        %i.fa.fa-bolt
        %h2 Notes
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

#bottom_cta
  .wrapper
    %h2 The best note-taking app!
    %p Sign up now to start taking notes on the most organized, easiest to use notebook online!
    %button.button= link_to "Sign Up Now!", new_user_registration_path

%footer
  %p &copy; Julie Park 2017
