$blue: #4B6D9D;
$light_blue: #99CED4;
$blush: #EEB6B7;
$gray: #6E7276;
$light_gray: #C0C1C1;

@mixin bold_font {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 4.5em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 8rem 0rem 2rem;
}

.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after {
  clear:both;
}

button, .button {
  border: none;
  outline: none;
  background: $light_blue;
  padding: 1rem 3.5rem;
  border-radius: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  color: white;
  margin: 2rem 0;
}
.button:hover {
  background: $blue;
  color:white;
}

a {
  color: $light_blue;
  text-decoration: none;
}

header {
  background: $gray;
  top: 0;
  width: 100%;
  position: fixed;
  padding: .4rem 0;
  border-bottom: 7px solid $light_blue;
  z-index: 1;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    #logo {
      display: inline-block;
      float: left;
      img {
        width: 5rem;
      }
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: white;
        font-size: .77rem;
        letter-spacing: .05rem;
        text-transform: uppercase;
        line-height: 3.5;
        padding: .5rem .8rem;
        margin-left: 1rem;
        &:hover {
          color: $light_blue;
          padding: .5rem .8rem;
        }
      }
      .try-now {
        color: white;
        padding: .5rem .8rem;
        background: $light_blue;
        border-radius: 2rem;
        &:hover {
          background: $blue;
          color:white;
        }
      }
    }
  }
}

footer{
  background: $gray;
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: .5rem;
  text-transform: uppercase;
  p {
    margin: 0;
    padding: 5rem;
    font-size: .75rem;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea{
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $light_gray;
  border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}
